<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitFacultyFeedback</servlet-name>
        <servlet-class>submitFacultyFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAdmin</servlet-name>
        <servlet-class>SelectAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitFeedbackFaculty</servlet-name>
        <servlet-class>submitFeedbackFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAllQuestions</servlet-name>
        <servlet-class>FetchAllQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAnswer</servlet-name>
        <servlet-class>FetchAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedbackAnswer</servlet-name>
        <servlet-class>SubmitFeedbackAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSubject</servlet-name>
        <servlet-class>FetchSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuestion</servlet-name>
        <servlet-class>SubmitQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchStudentDashboard</servlet-name>
        <servlet-class>FetchStudentDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HodDashboard</servlet-name>
        <servlet-class>HodDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchComment</servlet-name>
        <servlet-class>FetchComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchReport</servlet-name>
        <servlet-class>FetchReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchFacultyDashboard</servlet-name>
        <servlet-class>FetchFacultyDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAnswer</servlet-name>
        <servlet-class>SubmitAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAnswer</servlet-name>
        <servlet-class>UpdateAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <servlet-class>BlockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchFacultyMyReport</servlet-name>
        <servlet-class>FetchFacultyMyReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchFacultyQna</servlet-name>
        <servlet-class>FetchFacultyQna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnBlockUser</servlet-name>
        <servlet-class>UnBlockUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchBlockUser</servlet-name>
        <servlet-class>FetchBlockUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitFacultyFeedback</servlet-name>
        <url-pattern>/submitFacultyFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAdmin</servlet-name>
        <url-pattern>/SelectAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitFeedbackFaculty</servlet-name>
        <url-pattern>/submitFeedbackFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAllQuestions</servlet-name>
        <url-pattern>/FetchAllQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAnswer</servlet-name>
        <url-pattern>/FetchAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedbackAnswer</servlet-name>
        <url-pattern>/SubmitFeedbackAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSubject</servlet-name>
        <url-pattern>/FetchSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuestion</servlet-name>
        <url-pattern>/SubmitQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchStudentDashboard</servlet-name>
        <url-pattern>/FetchStudentDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HodDashboard</servlet-name>
        <url-pattern>/HodDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchComment</servlet-name>
        <url-pattern>/FetchComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchReport</servlet-name>
        <url-pattern>/FetchReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchFacultyDashboard</servlet-name>
        <url-pattern>/FetchFacultyDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAnswer</servlet-name>
        <url-pattern>/SubmitAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAnswer</servlet-name>
        <url-pattern>/UpdateAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/BlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchFacultyMyReport</servlet-name>
        <url-pattern>/FetchFacultyMyReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchFacultyQna</servlet-name>
        <url-pattern>/FetchFacultyQna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnBlockUser</servlet-name>
        <url-pattern>/UnBlockUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchBlockUser</servlet-name>
        <url-pattern>/FetchBlockUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
